name: Update Sunbay Weather Card
on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - run: curl -s https://capt-ks.github.io/sunbay-weather/ > /dev/null
      - run: sleep 15
      - run: curl -s https://capt-ks.github.io/sunbay-weather/sunbay_marina_forecast.png -o sunbay_marina_forecast.png
      - name: Commit PNG
        run: |
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
          git add sunbay_marina_forecast.png
          git diff --staged --quiet || (git commit -m "Update $(date)" && git push)
